crewai
crewai[tools]
langchain-anthropic
python-dotenv
gunicorn
pathvalidate
langsmith
fastapi
pydantic
lorem


streamlit
st-copy-to-clipboard

# This is only necessary for linux, on Streamlit's servers
pysqlite3-binary
