crewai
crewai[tools]
langchain-anthropic
python-dotenv
gunicorn
agentops
pathvalidate
langsmith
fastapi
pydantic


streamlit
# This is only necessary for linux, on Streamlit's servers
pysqlite3-binary